* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}